<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrfMd94NBDJM52E1HDj5Y0ZTHbmmfDq5I</string>
	<key>GCM_SENDER_ID</key>
	<string>1014294043694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.r13.supermarketAds</string>
	<key>PROJECT_ID</key>
	<string>r13note-supermarket-ads</string>
	<key>STORAGE_BUCKET</key>
	<string>r13note-supermarket-ads.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014294043694:ios:8d4e739c37ab4d627a93bf</string>
</dict>
</plist>